body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.container2 {
    border-top: 2px solid lightpink;
    padding-top: 4px;
}

.container {
    text-align: center;
    margin: 0;
    padding-bottom: 0;
}