
.table-container {
  max-width: 1280px;
  text-align: center;
  display: flex;
  
  padding: 2rem 0 0 0;
  text-align: center;

  
}



.table {
  background: rgb(110, 186, 110);
  border-collapse: collapse;
  white-space: nowrap;
  margin: 0 auto;
  /* dit om geen onderbroken lijnen te hebben*/
}

.scroll {
  width: 100%;
  overflow-x: auto;
  min-width: 0;
}

td {
  
  overflow: hidden;
  text-overflow: ellipsis;
}


th {
  padding: 5px 10px 0 ;
  border-bottom: 2px solid #065b06;
  background-color: #09a609;
}


tr {
  height: 30px;
}
tr:nth-child(even) { background: #09a609; }

.scroll-hint {
margin-top: 15px;
  color: rgba(245, 245, 245, 0.26);
}
