:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 0.5;
  font-weight: 400;
  color-scheme: light dark;
  background: linear-gradient(
    -45deg,
    rgb(215, 10, 82),
    rgb(20, 13, 108),
    rgb(177, 113, 123),
    #f397e1,
    rgb(185, 111, 120)
    );

  background-repeat: no-repeat; 
  background-size: 100% 100%;   
  background-attachment: fixed;
}


html, body {
  margin: 0; 
  min-height: 100vh;
  color: white;
  scroll-behavior: smooth;
}


.hero-area, .top-row {
  overflow-x: hidden;
}


.hero-area {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  min-height: 55vw;
  height: auto;
  justify-content: center;
  padding-top: 10px; /* change position containers content*/
  margin-bottom: 10vw;
  color: black;
  /*flex-direction: column; ond erelkaar*/
}

.top-row {
  display: flex;
  margin: 0 auto;
  gap: 5rem;
  justify-content: center;
}




#container-bl, #container-two {
  flex: 1;
  width: auto;
  height: auto;
  box-sizing: border-box;
  margin-bottom: 35px;
  font-size: 50px;
  color: whitesmoke;
  margin-left: 40px;
  position: relative;
  display: block;
  color: whitesmoke;
}


.wave p {
transition: color 1.4s ease, transform 1.4s ease;
  transform: translateX(-6px);
}

.wave:hover p {
  color: rgb(208, 214, 104);
   transform: translateX(0);
}

p {
  margin: 15px 0;
  line-height: 1.4; /* standaard ~1.5, lager = dichter op elkaar */
}

  .bruno-ace-sc-regular, #container-bl, #container-two { /* hier teksten aanpassen */
  font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  /*font-size: 30px;*/
  }

.slide-left {
  opacity: 0;
  transform: translateX(-50px); /* start buiten links */
  transition: opacity 4s, transform 3s;
  display: flex;
  flex-direction: column;
}

.slide-left.fade-in-active {
  opacity: 1;
  transform: translateX(0);      /* eindpositie */

}


.slide-right {
  opacity: 0;
  transform: translateX(50px); /* start buiten rechts */
  transition: opacity 4s, transform 3s;
  
}

.slide-right.fade-in-active {
  opacity: 1;
  transform: translateX(0);

}

.image-dev img {
  width: 100%;/*-------------------WIDTH-----------------------------*/
  height: 100%;
  object-fit: cover;   /* voorkomt “gerekte strook” look */
  transform-style: preserve-3d;
  transition: transform 0.15s ease-out;
  backface-visibility: hidden;
  border-radius: 10px;

}


.image-dev {
  position: relative;
  width: clamp(420px, 40vw, 620px);
  max-height: 520px;
  aspect-ratio: 4 / 3;   /* houdt vorm netjes */
  margin: 0 auto; 
   perspective: 1000px;
   overflow: hidden;
  border-radius: 10px;
  padding-bottom: 10px;


}
.image-dev::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; /* --------------WIDTH------------------*/
  height: 80px; /* hoogte van de schaduw */
  pointer-events: none;
  background: radial-gradient(
    ellipse at center,
    rgba(0,0,0,0.55) 0%,
    rgba(0,0,0,0) 70%
  );
}



@media (max-width: 968px) {

  .hero-area {
    height: auto;
  }

  .image-dev {
    width: auto;
    max-width: 420px;
    height: auto;
    max-height: 320px;

    margin: 0 auto;
    overflow: hidden;
  }

 
  .top-row {
    flex-direction: column;  /* containers onder elkaar */
    gap: 1px;              /* ruimte tussen de rijen */
    align-items: center;
    width: 100%; 
  }

  

#container-bl, #container-two {
       /* neem volledige breedte van parent */
  width: auto;
  height: auto;            /* hoogte past bij content */
  box-sizing: border-box;
  font-size: 1.5rem;
}

p {
margin: 10px 0;            /* iets strakker op mobile */
/* tekst schaalt mee */
line-height: 1.4; /* standaard ~1.5, lager = dichter op elkaar */
}
}




.hero-area-middle { /* -------------------------------------------------*/
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  height: auto;
 /* background -----*/
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  margin-bottom: 10vw;
  color: whitesmoke;
  overflow-x: hidden;    
  box-sizing: border-box;

}


.content-box {
 /*width: 100%;*/
  height: auto;
  /*background-color: whitesmoke;*/
  margin: 0 auto;
  padding: 30px;
  font-size: 30px;
  max-width: 100%;
  width: 100vw;
  box-sizing: border-box;
  animation-delay: 0.3s; /* komt iets later in beeld */
}
.content-box.fade-in.wave {
  background-color: rgba(8, 8, 8, 0.775);
  width: 85%;
  color: rgb(253, 250, 250);
  border-radius: 15px;

}

@media (max-width: 480px) {


.hero-area-middle {
  height: auto;
   width: auto;
   padding-bottom: 15px;
}

.icon-wrapper.html {
  height: 76px;
  width: 80px;
  background-color: #e11010;
  border-radius: 20px 0 20px 0;
  
}

.icon-wrapper.css {
  background-color: rgb(185, 185, 19);
  width: 15vw;
  height: 15vw;
  border-radius: 20px 0 20px 0;
}

.icon-wrapper.js {
  background-color: rgb(93, 179, 139);
  border-radius: 20px 0 20px 0;
  width: 15vw;
  height: 15vw;
}
}
#space {
  margin-bottom: 20px 0;
}
@media (max-width: 968px) {
  .content-box {
   font-size: 1.3rem;
   
  }
  .content-box p {
    padding-bottom: 30px;
    
  }

}














/* HTML ---------------------------------------*/
.tech-icon {
  width: 65px;
  height: 60px;
  fill: #0e0ea8; /* HTML5 oranje */
  transition: fill 0.3s ease;
  padding: 10px 0 0 5px;
}

.tech-icon.html:hover {
  fill: #ffbb33; /* bijvoorbeeld op hover een lichtere tint */
  
}
.icon-wrapper.html {
  height: 76px;
  width: 80px;
  background-color: #e11010;
  border-radius: 20px 0 20px 0;
}

.icon-wrapper {
  margin: 0;
  width: clamp(60px, 15vw, 80px);
  height: auto;
  box-sizing: border-box;

}
/* CSS ---------------------------------------------*/
.icon-wrapper.css {
  background-color: rgb(185, 185, 19);
  width: 80px;
  height: 76px;
  border-radius: 20px 0 20px 0;
}
.tech-icon.css:hover {
  fill: rgb(9, 159, 164);
}

/* js -------------------------------------------------*/
.icon-wrapper.js {
  background-color: rgb(93, 179, 139);
  border-radius: 20px 0 20px 0;
  width: 80px;
  height: 76px;
}
.tech-icon.js:hover {
  fill: rgb(154, 14, 189);
}
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 3s, transform 3s;
}

.fade-in.fade-in-active {
  opacity: 1;
  transform: translateY(0);
}




.icons-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* horizontaal centreren */
  align-items: center;
  gap: 2vw; /* ruimte tussen de iconen */
  flex-wrap: wrap; /* voor mobile: ze vallen netjes onder elkaar als te smal */
  width: 100%;
  margin-top: 30px;
   max-width: 100%;
   box-sizing: border-box;
}

/* verwijder de margin-left op de icon-wrapperen */
.icon-wrapper.html,
.icon-wrapper.css,
.icon-wrapper.js {
  margin-left: 0;
}












/*  -------------------------------     ----*/
.hero-image {
  position: relative;
  width: 100%;
  height: 50vw;
  overflow: hidden;
}

@media (max-width: 968px) {
.hero-image {
  height: 90vw;
}
}

/*.      background-position: center 50%;  */
.hero-image::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: url('/images/colors-.jpg') no-repeat center center;
  background-size: cover;
  animation: subtle-zoom 8s ease-in-out infinite alternate;
  z-index: 0;
}

/* alleen in- en uitzoomen */
@keyframes subtle-zoom {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.10); }
  100% { transform: scale(1); }
}

.image-content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  width: 100%;
  height: 45vw;
  padding: 2rem;
}




/*------------         ---------------*/


.hero-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  background-color: black;
}

.footer-content {
  height: auto;
  width: auto;
  padding: 5px;
  cursor: pointer;


}
.footer-content, li, a{
  list-style: none;
  color: whitesmoke;
}

.footer-content ul {
  display: flex;       /* horizontale layout */
  gap: 20px;           /* ruimte tussen iconen */
  padding: 0;          /* geen extra padding */
  list-style: none;    /* geen bullets */
  margin: 10px 0;      /* optioneel, wat ruimte van de tekst */
}

.footer-content li {
  display: flex;
  align-items: center; /* centreren verticaal als je meerdere elementen hebt */
}


.paragr {
  font-size: 70px;
  text-align: center;
  max-width: 100%;
}


@media (max-width: 968px) {
.paragr {
  font-size: 3rem;
}
}



a.github svg path {
color:rgb(168, 12, 220) ;
transition: color 0.3s ease;
}

a.github:hover svg path{
fill: rgb(220, 85, 12);
}

a.linked svg path{
  color: rgb(10, 102, 194); /* standaardkleur */
  transition: color 0.3s ease;
}
a.linked:hover svg path{
fill: rgb(56, 166, 225);
}









/* copyright */
#bottom {
  text-align: center;
  margin-top: auto;
}
#copyright {
  background-color: black;
  height: 6vw;
  width: 100%; /* wel of geen width ?*/
}
